<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.hieating.category.mapper.CategoryMapper">
  <select id="findCategories" resultType="CategoryMenuResponseDto">
    SELECT
      c.id AS id,
      c.name AS name,
      COUNT(p.id) AS productCount
    FROM categories c
    LEFT JOIN products p ON p.category_id = c.id
    GROUP BY c.id, c.name
    ORDER BY c.id
  </select>

  <select id="findCategoryById" resultType="CategoryMenuResponseDto">
    SELECT
      c.id AS id,
      c.name AS name,
      COUNT(p.id) AS productCount
    FROM categories c
    LEFT JOIN products p ON p.category_id = c.id
    WHERE c.id = #{categoryId}
    GROUP BY c.id, c.name
  </select>
</mapper>
